<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghc.project.expert.mapper.TbExpertMapper">

    <resultMap type="com.ghc.project.expert.domain.TbExpert" id="TbExpertResult">
        <result property="expertId"    column="expert_id"    />
        <result property="expertName"    column="expert_name"    />
        <result property="expertSex"    column="expert_sex"    />
        <result property="idCard"    column="id_card"    />
        <result property="work"    column="work"    />
        <result property="duty"    column="duty"    />
        <result property="education"    column="education"    />
        <result property="title"    column="title"    />
        <result property="location"    column="location"    />
        <result property="researchResult"    column="research_result"    />
        <result property="mobile"    column="mobile"    />
        <result property="email"    column="email"    />
        <result property="certification"    column="certification"    />
        <result property="status"    column="status"    />
        <result property="userId"    column="user_id"    />
        <result property="addTime"    column="add_time"    />
    </resultMap>

    <sql id="selectTbExpertVo">
        select expert_id, expert_name, expert_sex, id_card, work, duty, education, title, location, research_result, mobile, email, certification, status, user_id, add_time from ircs.tb_expert
    </sql>

    <select id="selectTbExpertList"  resultMap="TbExpertResult">
        select * from ircs.tb_expert te
        left join ircs.tb_pro_relevance tpr
        on te.expert_id = tpr.relevance_id and tpr.relevance_type = 3
        left join ircs.sys_dict_data sdd
        on tpr.pro_id = sdd.dict_code
        <where>
            <if test="expertName != null  and expertName != ''"> and te.expert_name like concat('%', #{expertName}, '%')</if>
            <if test="expertSex != null  and expertSex != ''"> and te.expert_sex = #{expertSex}</if>
            <if test="work != null  and work != ''"> and te.work = #{work}</if>
            <if test="duty != null  and duty != ''"> and te.duty = #{duty}</if>
            <if test="education != null  and education != ''"> and te.education = #{education}</if>
            <if test="title != null  and title != ''"> and te.title = #{title}</if>
            <if test="certification != null  and certification != ''"> and te.certification = #{certification}</if>
            <if test="status != null  and status != ''"> and te.status = #{status}</if>
            <if test="addTime != null "> and te.add_time = #{addTime}</if>

            <if test="professional != null "> and sdd.dict_value = #{professional}</if>
        </where>
    </select>

    <select id="selectTbExpertById" parameterType="Long" resultMap="TbExpertResult">
        <include refid="selectTbExpertVo"/>
        where expert_id = #{expertId}
    </select>

    <select id="selectProfessionLable" resultType="java.lang.String">
        select sdd.dict_label from ircs.tb_pro_relevance tpr
        left join ircs.sys_dict_data sdd
        on tpr.pro_id = sdd.dict_code
        where tpr.relevance_id = #{expertId} and tpr.relevance_type = #{relevanceType}
    </select>

    <select id="selectDictCode" resultType="java.lang.Integer">
        select dict_code from ircs.sys_dict_data where dict_value = #{dictValue} and dict_type = #{dictType}
    </select>

    <insert id="insertTbExpert" useGeneratedKeys="true" keyProperty="expertId">
        insert into ircs.tb_expert
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="expertName != null  and expertName != ''">expert_name,</if>
            <if test="expertSex != null  and expertSex != ''">expert_sex,</if>
            <if test="idCard != null  and idCard != ''">id_card,</if>
            <if test="work != null  and work != ''">work,</if>
            <if test="duty != null  and duty != ''">duty,</if>
            <if test="education != null  and education != ''">education,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="location != null  and location != ''">location,</if>
            <if test="researchResult != null  and researchResult != ''">research_result,</if>
            <if test="mobile != null  and mobile != ''">mobile,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="certification != null  and certification != ''">certification,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="userId != null ">user_id,</if>
            <if test="addTime != null ">add_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="expertName != null  and expertName != ''">#{expertName},</if>
            <if test="expertSex != null  and expertSex != ''">#{expertSex},</if>
            <if test="idCard != null  and idCard != ''">#{idCard},</if>
            <if test="work != null  and work != ''">#{work},</if>
            <if test="duty != null  and duty != ''">#{duty},</if>
            <if test="education != null  and education != ''">#{education},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="location != null  and location != ''">#{location},</if>
            <if test="researchResult != null  and researchResult != ''">#{researchResult},</if>
            <if test="mobile != null  and mobile != ''">#{mobile},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="certification != null  and certification != ''">#{certification},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="addTime != null ">#{addTime},</if>
        </trim>
    </insert>

    <insert id="insertProRelevance">
        insert into ircs.tb_pro_relevance(relevance_id,pro_id,relevance_type)
        values (#{expertId},#{professionId},#{relevanceType})
    </insert>

    <update id="updateTbExpert" parameterType="TbExpert">
        update tb_expert
        <trim prefix="SET" suffixOverrides=",">
            <if test="expertName != null  and expertName != ''">expert_name = #{expertName},</if>
            <if test="expertSex != null  and expertSex != ''">expert_sex = #{expertSex},</if>
            <if test="idCard != null  and idCard != ''">id_card = #{idCard},</if>
            <if test="work != null  and work != ''">work = #{work},</if>
            <if test="duty != null  and duty != ''">duty = #{duty},</if>
            <if test="education != null  and education != ''">education = #{education},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="location != null  and location != ''">location = #{location},</if>
            <if test="researchResult != null  and researchResult != ''">research_result = #{researchResult},</if>
            <if test="mobile != null  and mobile != ''">mobile = #{mobile},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="certification != null  and certification != ''">certification = #{certification},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="addTime != null ">add_time = #{addTime},</if>
        </trim>
        where expert_id = #{expertId}
    </update>

    <delete id="deleteTbExpertById" parameterType="Long">
        delete from tb_expert where expert_id = #{expertId}
    </delete>

    <delete id="deleteTbExpertByIds" parameterType="String">
        delete from tb_expert where expert_id in
        <foreach item="expertId" collection="array" open="(" separator="," close=")">
            #{expertId}
        </foreach>
    </delete>

    <delete id="deletePressions">
        delete from ircs.tb_pro_relevance where relevance_type = #{relevanceType}
        and relevance_id in
        <foreach item="expertId" collection="expertIds" open="(" separator="," close=")">
            #{expertId}
        </foreach>
    </delete>

</mapper>