<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jblog.project.blog.article.mapper.ArticleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jblog.project.blog.article.domain.ArticleEntity" id="articleMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="content" column="content"/>
        <result property="contentHtml" column="content_html"/>
        <result property="viewNum" column="view_num"/>
        <result property="commentNum" column="comment_num"/>
        <result property="weight" column="weight"/>
        <result property="tags" column="tags"/>
        <result property="categoryId" column="category_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into blog_article(
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="nickName != null and nickName != ''">nick_name,</if>
        <if test="title != null and title != ''">title,</if>
        <if test="summary != null and summary != ''">summary,</if>
        <if test="content != null and content != ''">content,</if>
        <if test="contentHtml != null and contentHtml != ''">content_html,</if>
        <if test="viewNum != null ">view_num,</if>
        <if test="commentNum != null ">comment_num,</if>
        <if test="weight != null ">weight,</if>
        <if test="tags != null and weight != ''">weight,</if>
        <if test="categoryId != null ">category_id,</if>
        <if test="updateTime != null">update_time,</if>
        <if test="status != null">status,</if>
        create_time
        )values(
        <if test="userId != null and userId != 0">#{userId},</if>
        <if test="nickName != null and nickName != ''">#{nickName},</if>
        <if test="title != null and title != ''">#{title},</if>
        <if test="summary != null and summary != ''">#{summary},</if>
        <if test="content != null and content != ''">#{content},</if>
        <if test="contentHtml != null and contentHtml != ''">#{contentHtml},</if>
        <if test="viewNum != null ">#{viewNum},</if>
        <if test="commentNum != null ">#{commentNum},</if>
        <if test="weight != null ">#{weight},</if>
        <if test="tags != null and weight != ''">#{weight},</if>
        <if test="categoryId != null ">#{categoryId},</if>
        <if test="updateTime != null">#{updateTime},</if>
        <if test="status != null">#{status},</if>
        sysdate()
        )
    </insert>


    <update id="updateArticle">
        update blog_article
        <set>
            <if test="userId != null and userId != 0">user_id = #{userId},</if>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="summary != null and summary != ''">summary = #{summary},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="contentHtml != null and contentHtml != ''">content_html = #{contentHtml},</if>
            <if test="viewNum != null ">view_num = #{viewNum},</if>
            <if test="commentNum != null ">comment_num = #{commentNum},</if>
            <if test="weight != null ">weight = #{weight},</if>
            <if test="tags != null and weight != ''">weight = #{weight},</if>
            <if test="categoryId != null ">category_id = #{categoryId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>

    <update id="auditArticle">
        update blog_article set status = #{status} where id = #{id}
    </update>

    <delete id="deleteById">
        delete from blog_article where id = #{0}
    </delete>

    <select id="queyArticleArchives" parameterType="Integer" resultType="com.jblog.project.blog.article.domain.vo.ArticleArchivesVo">
        select year(create_time) as year,month(create_time) as month,count(*) as count from blog_article
        where status = '1'
        group by year(create_time),month(create_time)
        limit 0,#{limit}
    </select>

    <select id="queryArticleList" resultMap="articleMap">
        select * from blog_article
        <where>
            <if test="userId != null">user_id = #{userId}</if>
            <if test="categoryId != null">category_id = #{categoryId}</if>
            <if test="title != null and title != ''">and title like concat('%',#{title},'%')</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="nickName != null and nickName != ''">and nick_name like concat('%',#{nickName},'%')</if>
            <if test="tags != null and tags != ''">and tags like concat('%',#{tags},'%')</if>
            <if test="year != null">
                and date_format(create_time,'%Y') &gt;=  #{year}
                and date_format(create_time,'%m') &gt;=  #{month}
            </if>
        </where>
    </select>

    <select id="selectById" resultMap="articleMap">
        select * from blog_article where id = #{0}
    </select>


    <select id="queryArticleListByUserId" resultMap="articleMap">
        select * from blog_article
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
        </where>

    </select>

    <select id="getUserCount" resultType="java.lang.Integer">
        select count(*) from sys_user
    </select>

    <select id="getCommentCount" resultType="java.lang.Integer">
           select count(*) from blog_comment
    </select>

    <select id="getArticleCount" resultType="java.lang.Integer">
           select count(*) from blog_article
    </select>

    <select id="getTagCount" resultType="java.lang.Integer">
           select count(*) from blog_tag
    </select>

</mapper>