<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jblog.project.blog.comment.mapper.CommentMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jblog.project.blog.comment.domain.CommentEntity" id="commentMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="articleId" column="article_id"/>
        <result property="content" column="content"/>
        <result property="parentId" column="parent_id"/>
        <result property="toUid" column="to_uid"/>
        <result property="levelFlag" column="level_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="queryArticleComments"  parameterType="Long" resultType="com.jblog.project.blog.comment.domain.vo.CommentVo">
        SELECT vc.*, vu.avatar,vu.nick_name FROM blog_comment vc LEFT JOIN sys_user vu ON vc.user_id=vu.user_id
        WHERE vc.article_id=#{articleIAd} AND vc.level_flag='0' ORDER BY vc.create_time DESC
    </select>

    <select id="queryChildrenComments" parameterType="com.jblog.project.blog.common.domain.vo.ChildCommentVo" resultType="com.jblog.project.blog.comment.domain.vo.CommentVo">
        SELECT vc.*, vu.avatar,vu.nick_name FROM blog_comment vc LEFT JOIN sys_user vu ON vc.user_id=vu.user_id
        WHERE vc.article_id=#{articleId} AND vc.parent_id=#{parentId} ORDER BY vc.create_time ASC
    </select>

    <select id="queryCommentList" resultMap="commentMap">
        select * from blog_comment
    </select>

    <insert id="insert">
        insert into blog_comment(
        <if test="userId != null and userId != ''">user_id,</if>
        <if test="articleId != null and articleId != 0">article_id,</if>
        <if test="content != null and content != ''">content,</if>
        <if test="parentId != null and parentId != 0">parent_id,</if>
        <if test="toUid != null and toUid != 0">to_uid,</if>
        <if test="levelFlag != null and levelFlag != ''">level_flag,</if>
        update_time,
        create_time
        )values (
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="articleId != null and articleId != 0">#{articleId},</if>
        <if test="content != null and content != ''">#{content},</if>
        <if test="parentId != null and parentId != 0">#{parentId},</if>
        <if test="toUid != null and toUid != 0">#{toUid},</if>
        <if test="levelFlag != null and levelFlag != ''">#{levelFlag},</if>
        sysdate(),
        sysdate()
        )
    </insert>

    <select id="selectCount" resultType="int">
        select count(*) from blog_comment where article_id = #{articleId} and id = #{id}
    </select>

    <delete id="deleteBatchIds">
        delete from blog_comment where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>