<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jblog.project.blog.record.mapper.RecordMapper">

    <sql id="selectBlogRecordVo">
        select id, user_id, content, created_at from blog_record
    </sql>

    <select id="selectRecordEntityList" resultType="com.jblog.project.blog.entity.RecordEntity">
        <include refid="selectBlogRecordVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>

    <select id="selectRecordEntityById" parameterType="Long" resultType="com.jblog.project.blog.entity.RecordEntity">
        <include refid="selectBlogRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertRecordEntity">
        insert into blog_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="createdAt != null ">created_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="createdAt != null ">#{createdAt},</if>
        </trim>
    </insert>

    <update id="updateRecordEntity">
        update blog_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="createdAt != null ">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRecordEntityById" parameterType="Long">
        delete from blog_record where id = #{id}
    </delete>

    <delete id="deleteRecordEntityByIds" parameterType="String">
        delete from blog_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>